@font-face {
  font-family: "tw-cen-mt";
  src: url(../fonts/tw-cen-mt.TTF) format("truetype");
}
.srhmatch {
  width: 97.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  padding: 12px 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
}
.srhmatch .srhinput input {
  width: 90%;
  box-sizing: border-box;
  color: #a0a0a0;
  background-color: #eee;
}
.srhmatch p {
  padding: 0 15px;
}
.srhmatch p span {
  color: #d70c19;
  padding: 0 3px;
}
