@import "_mixins";
@font-face {
    font-family: "notosanshant_light";
    src: local("notosanshant_light"), url("notosanshant_light.otf") format("opentype");
}

@font-face {
    font-family: "notosanshant_regular";
    src: local("notosanshant_regular"), url("notosanshant_regular.otf") format("opentype");
}

@font-face {
    font-family: "notosanshant_medium";
    src: local("notosanshant_medium"), url("notosanshant_medium.otf") format("opentype");
}

@font-face {
    font-family: "notosanshant_bold";
    src: local("notosanshant_bold"), url("notosanshant_bold.otf") format("opentype");
}

html, body {
	margin: 0;
	padding: 0;
	color: rgb(76, 76, 76);
	font-family: "notosanshant_light";
	font-weight: normal;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	// text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
    @include box-sizing(border-box);
}

body {
    font-size: 0.875rem;
    line-height: 1.5;
}

a {
	color: rgb(255,98, 43);
}

h1, h2, h3, h4, h5, h6, b, strong {
    font-family: "notosanshant_bold";
    font-weight: normal;
}

p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul, ol {
    padding-left: 2em;
}

img {
    display: none !important;
}
