@font-face {
  font-family: "tw-cen-mt";
  src: url(/assets/desktop/fonts/tw-cen-mt.TTF) format("truetype");
}
.th_intro .banner2 > div, .th_intro ul.per, .md_ex .md_slick{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.md_company{
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.th_intro .banner2 > div:after, .th_intro ul.per:after, .md_ex .md_slick:after, .md_company:after {
  content: " ";
  display: block;
  clear: both;
}

.th_intro .banner:before, .th_intro .banner2 > div:before {
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 100%;
  content: "";
  visibility: hidden;
}

.th_intro .banner figcaption, .th_intro .banner2 figcaption {
  display: inline-block;
  vertical-align: middle;
}

.th_intro {
  padding: 0 0 30px 0;
}
.th_intro .banner {
  margin: auto;
  position: relative;
  height: 330px;
  text-align: center;
}
.th_intro .banner:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}
.th_intro .banner figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/banner_bg.png) center center no-repeat;
  background-size: cover;
}
.th_intro .banner figcaption {
  width: 90%;
  position: relative;
}
.th_intro .banner figcaption h1 {
  margin: 30px 0;
  font-size: 36px;
  line-height: 60px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}

/* 20181115 新增 */
.th_intro .banner figcaption h2 {
  margin: 40px 0;
  font-size: 36px;
  font-weight:bold;
  line-height: 60px;
  color: #FFF;
  text-align: center;
}
/* 20181115 新增end */


.th_intro .banner figcaption > p {
  text-align: center;
  color: #FFF;
  margin: 20px auto;
  padding: 0 7px;
  max-width: 520px;
}
.th_intro .banner2 {
  width: 100%;
  background: #d60c18;
  text-align: center;
}
.th_intro .banner2 > div {
  position: relative;
  height: 250px;
}
.th_intro .banner2 figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/desktop/images/introbanner02.png) center center no-repeat;
  background-size: cover;
}
.th_intro .banner2 figcaption {
  text-align: middle;
  max-width: 90%;
  position: relative;
  z-index: 1;
}
.th_intro .banner2 figcaption b {
  font-size: 38px;
  line-height: 50px;
  color: #FFF;
}
.th_intro .banner2 figcaption b span {
  font-size: 77px;
  line-height: 90px;
  color: #FFF;
  font-weight: bold;
}
.th_intro ul.mls {
  margin: auto;
  overflow: hidden;
  background: #da000d;
  margin-bottom: 20px;
}
.th_intro ul.mls li {
  width: 22.5%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  box-sizing: border-box;
  padding: 15px 0px;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
}
.th_intro ul.mls li span {
  display: block;
  color: #FFF;
}
.th_intro ul.per {
  padding: 0 12px;
  margin: 40px auto 40px auto;
}
.th_intro ul.per li {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  position: relative;
}
.th_intro ul.per li figure {
  width: 100%;
  float: center;
}
.th_intro ul.per li figure img {
  max-width: 100%;
  min-width: 1200px;
  margin: auto;
  padding: 40px 0;
}
.th_intro ul.per li figcaption {
  width: 100%;
  float: center;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  box-sizing: border-box;
  padding: 10px 60px 0 60px;
  text-align: center;
}
.th_intro ul.per li figcaption b {
  color: #da000d;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  padding: 10px 0;
  display: block;
}
/*
.th_intro ul.per li:nth-child(odd) figure {
  float: right;
}
.th_intro ul.per li:nth-child(1):before {
  display: block;
  content: "";
  position: absolute;
  width: 963px;
  height: 460px;
  top: 100px;
  background: url(/assets/desktop/images/border001.png) left top no-repeat;
}
.th_intro ul.per li:nth-child(3):before, .th_intro ul.per li:nth-child(4):before {
  display: block;
  content: "";
  position: absolute;
  width: 963px;
  height: 221px;
  top: 0;
  background: url(/assets/desktop/images/border002.png) left top no-repeat;
}
.th_intro ul.per li:nth-child(4):before {
  background: url(/assets/desktop/images/border003.png) left top no-repeat;
}
*/
.md_ex {
  background: #eee;
  padding: 80px 0 50px 0;
}
.md_ex h1 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 30px;
  font-weight: bold;
}
.md_ex ul {
  padding: 0 12px;
  margin: 0px auto 20px auto;
}
.md_ex ul li {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 5px;
}
.md_ex ul li:before {
  display: block;
  content: "";
  width: 100%;
  height: 80px;
  background: url(/assets/desktop/images/exbg0.png) center center no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
.md_ex ul li figcaption {
  display: inline-block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.md_ex ul li figcaption p {
  display: block;
  background: none;
  padding: 20px 10px;
}
.md_ex ul li figcaption p span {
  padding: 6px;
}
.md_ex ul li figcaption b {
  display: block;
  float: right;
  color: #595757;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.md_ex ul li figcaption b span {
  color: #595757;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.md_ex .md_slick .slick-slide {
  position: relative;
  z-index: 1;
  background: #fff;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.8;
}
.md_ex .md_slick .slick-current {
  z-index: 99;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
.md_ex .md_slick .slick-current:before {
  background: url(/assets/desktop/images/exbg.png) center center no-repeat;
}
.md_ex .md_slick .slick-prev, .md_ex .md_slick .slick-next {
  border: none;
  width: 62px;
  height: 62px;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  z-index: 999;
}
.md_ex .md_slick .slick-prev {
  background: url(/assets/desktop/images/introleft.png) center center no-repeat;
  left: -30px;
}
.md_ex .md_slick .slick-next {
  background: url(/assets/desktop/images/introright.png) center center no-repeat;
  right: -30px;
}

.md_forms {
  background:#eee;
}
.md_forms h3 {
  font-size: 30px;
  line-height: 40px;
}

.md_company {
  padding: 0 12px;
  margin: 40px auto 0px auto;
}
.md_company h3 {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}
.md_company ul {
  display: table;
  margin: auto;
  text-align: center;
}
.md_company ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 15px;
}
.md_company ul li a {
  display: block;
}
.md_company img{
	width:100%;
	max-width:960px;
}

/*201911新增*/
.th_coms {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
}
.th_coms .features {
    margin-bottom: 15px;
}
.features .intro {
    position: relative;
    padding: 10px 20px 5px 20px;
    box-sizing: border-box;
	text-align:center;
}
.features .intro figure img{
	margin:0px auto;
	width:150px;
}
.features .intro figcaption b{
	font-size:22px;
	color:#da000d;
	font-weight:bold;
}
.features .app-intro{
	position: relative;
    padding: 10px 20px 5px 20px;
    box-sizing: border-box;
	text-align:center;
	margin-top:30px;
}
.features .app-intro  h3{
	font-size: 22px;
    color: #da000d;
    font-weight: bold;
}
.features .app-intro  p{
	font-size: 18px;
	line-height:40px;
}
.features .app-intro img{
	margin-top:0px;
	margin:auto;
	width:100%;
}
.partner-intro {
    position: relative;
}
.partner-intro h2{
	color: #da000d;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    padding: 10px 0;
    display: block;
	text-align:center;
}
.partner-intro p{
	font-size:20px;
	line-height:30px;
	padding:10px 0;
}
.partner-intro figure {
	width: 30%;
	float: left;
	margin-left: 1.04167%;
	margin-right: 1.04167%;
}
.partner-intro figure img {
	margin-left:50px;
}
.partner-intro figcaption {
    width: 60%;
    float: right;
    margin-left: 3.04167%;
    margin-right: 1.04167%;
}
.partner-intro figcaption h3{
	font-size:18px;
	margin-left:50px;
}
.partner-intro figcaption p{
	font-size:20px;
	font-weight:bold;
	margin-left:50px;
}
.md_two_partner > div {
    width: 47.91667%;
    float: left;
	margin-bottom: 20px;
	margin-left:10px;
	margin-right:10px;
}
.th_intro .intro_section{
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  position: relative;
  background:#eee;
}
.th_intro .intro_section h2{
  width: 100%;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
  box-sizing: border-box;
  text-align: center;
  color: #da000d;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  padding: 10px 0;
  display: block;
}
.th_intro .lecturer-intro img {
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
  background:#fff;
}
