@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
@import 'normalize/links';
// @import 'normalize/typography';
@import 'normalize/embeds';
@import 'normalize/groups';
@import 'normalize/forms';
@import 'normalize/tables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
ul,
ol {
    padding-left: 1.15em;
}

.font-weight-500 {
    font-weight: 500;
}
.font-weight-700 {
    font-weight: 700;
}
.font-weight-900 {
    font-weight: 900;
}

html {
    min-height: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.sr-only {
    position: absolute!important;
    padding: 0!important;
    margin: 0!important;
    width: 0!important;
    height: 0!important;
    font-size: 0!important;
}

*,
*::before,
*::after {
    @include box-sizing(border-box);
}

body {
    position: relative;
    min-height: 100%;
    background-color: $darken-blue;
    @include breakpoint(1024px) {
        font-family: 'Roboto', 'Noto Sans TC', '思源黑體 TC', '思源黑體 TW', '思源黑體', '微軟正黑體', '繁黑體', 'Microsoft JhengHei', 'Lato', 'Arial', 'Segoe UI Emoji', 'Segoe UI Symbol', '新細明體', sans-serif;
        letter-spacing: 0.025rem;
        font-display: swap;
    }
}

.serif {
    font-family: 'Playfair Display', 'Noto Serif TC', '思源宋體 TC', '思源宋體 TW', '思源宋體', serif;
}

a, button.btn {
    text-decoration: none;
    @include breakpoint(1024px) {
        @include transition(color .2s, border .2s, background .2s);
    }
}

img {
    display: block;
}

.clearfix,
.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
}
