header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 5;
	&.scroll {
		&::before {
			@include beforeafter('', block);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba($darken-blue, 0.8);
			backdrop-filter: blur(10px);
		}
	}
	.container {
		position: relative;
		display: flex;
		align-items: center;
	}
	.logo__group {
		display: flex;
		align-items: center;
		a {
			display: block;
			+ a {
				margin-left: 10px;
			}
			&.logo--cw {
				img {
					width: auto;
					height: 30px;
					@include breakpoint(375px) {
						height: 35px;
					}
					@include breakpoint(1024px) {
						height: 40px;
					}
				}
			}
			&.logo--lc {
				img {
					width: auto;
					height: 25px;
					@include breakpoint(375px) {
						height: 30px;
					}
					@include breakpoint(1024px) {
						height: 35px;
					}
				}
			}
		}
	}
}

.hamburger {
	position: relative;
	margin-right: 20px;
	width: 18px;
	height: 15px;
	cursor: pointer;
    z-index: 1;
	@include breakpoint(1024px) {
		display: none;
	}
	span {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $white;
		@include opacity(1);
		@include rotate(0deg);
		@include transition(0.25s linear);
		@include transform-origin(left, center);
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 6px;
		}
		&:nth-child(3) {
			top: 12px;
		}
	}
	&.active {
		span {
			&:nth-child(1) {
				@include rotate(45deg);
			}
			&:nth-child(2) {
				@include opacity(0);
			}
			&:nth-child(3) {
				top: 13px;
				@include rotate(-45deg);
			}
		}
	}
}

nav {
	@include breakpoint(1024px) {
		position: absolute;
		top: 50%;
		right: 0;
		@include translateY(-50%);
	}
	@include breakpoint(1200px) {
		right: 20px;
	}
	@include breakpoint(max-width 1023px) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: -200px;
		width: 200px;
		padding-top: 70px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: rgba($darken-blue, 0.8);
		backdrop-filter: blur(30px);
		@include transition(left 0.3s);
		&.active {
			left: 0;
		}
	}
	@include breakpoint(max-width 374px) {
		padding-left: 15px;
		padding-right: 15px;
	}
	ul {
		@include list(0, 0, none);
		font-size: 0;
		a {
			display: block;
			color: $white;
			font-size: 1.125rem;
			&.active, &:hover {
				color: $light-blue;
			}
		}
	}
	> ul {
		@include list(0, 0, none);
		font-size: 0;
		> li {
			position: relative;
			vertical-align: middle;
			@include breakpoint(max-width 1023px) {
				margin-bottom: 20px;
			}
			@include breakpoint(1024px) {
				display: inline-block;
				margin-left: 10px;
			}		
			@include breakpoint(1200px) {
				margin-left: 20px;
			}
			// &:last-child {
			// 	@include breakpoint(max-width 1023px) {
			// 		margin-top: 40px;
			// 	}
			// 	@include breakpoint(1024px) {
			// 		margin-left: 20px;
			// 	}
			// 	@include breakpoint(1200px) {
			// 		margin-left: 40px;
			// 	}
			// }
			> a {
				border-bottom: 2px solid transparent;
				@include breakpoint(1024px) {
					// line-height: 2.22222222;
					line-height: 4.5;
				}
			}
			> ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				padding: 10px 0;
				width: calc(1.125rem * 5 + 44px);
				background-color: $black;
				border: 1px solid $light-blue;
				li {
					a {
						padding: 10px 20px;
					}
				}
			}
			&:hover {
				> a {
					border-color: $light-blue;
				}
				> ul {
					display: block;
				}
			}
		}
	}
}
