input,
select {
    @include border-radius(0);
    @include appearance(none);
    &::-ms-expand {
        display: none;
    }
    &:focus {
        outline: 0;
    }
}

input[type*='number']::-webkit-inner-spin-button,
input[type*='number']::-webkit-outer-spin-button {
    @include opacity(0);
}

.form {
    font-size: 0;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.form__group {
    position: relative;
    >* {
        display: block;
    }
    .label {
        position: relative;
        display: block;
    }
    .form__group {
        &__placeholder {
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: $gray-100;
            font-size: 0.875rem;
            @include transition(all 0.3s);
        }
        &__input {
            min-width: 144px;
            width: 100%;
            color: $black;
            font-size: 1rem;
            border-style: solid;
            border-color: $dark-blue;
            &:focus {
                border-color: $darken-blue;
            }
        }
    }
    &--filled {
        .form__group__input {
            padding: 1.5rem 1rem 0.4rem;
            background-color: $white;
            border-width: 1px;
        }
        .form__group {
            &--defalt {
                &:hover,
                &.hasValue {
                    .form__group__placeholder {
                        top: 0.2em;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
    &--defalt {
        &:hover {
            .form__group__placeholder {
                color: $darken-blue;
            }
        }
    }
    &__help {
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 5px;
        color: $dark-blue;
        font-size: 0.75rem;
        font-style: normal;
        line-height: 1;
        &--strong {
            padding-left: 0;
            padding-right: 0;
            margin-top: 10px;
            margin-bottom: 20px;
            color: $darken-blue;
            font-size: 0.875rem;
        }
        +.form__group__help {
            margin-top: -10px;
        }
    }
}
ul.mc-select {
    li {
        letter-spacing: normal;
        line-height: 1.25;
        cursor: pointer;
    }
    a {
        position: relative;
        display: block;
        color: $white;
        padding-left: 2em;
        font-size: 0.75rem;
        &::before, &::after {
            @include beforeafter('', block);
            position: absolute;
            top: 0.25rem;
            left: 0;
            width: 1rem;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
        }
        &::before {
            border: 1px solid $white;
        }
        &::after {
            @include opacity(0);
        }
        > span.flex {
            align-items: center;
            > span.form__group {
                margin-left: 0.5em;
            }
        }
    }
    &.multiple {
        a {
            &::after {
                content: "✓";
                display: block;
                color: $white;
                font-weight: bold;
            }
            &.selected {
                &::before {
                    background-color: $light-blue;
                    border-color: $light-blue;
                }
                &::after {
                    @include opacity(1);
                }
            }
        }
    }
}
