$white: #fff;
$black: #000;
$gray-100: #666;
$gray-200: #ccc;

$darken-green: #067B76;
$yellow: #efc16a;

$light-blue: #00CCCC;
$blue: #0080A7;
$dark-blue: #004977;
$darken-blue: #002743;

$cw: #D60C18;

$icomoon-font-family: "cw_icon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-left: "\e91e";
$icon-right: "\e91f";
$icon-down: "\e920";
$icon-up: "\e922";
$icon-arrow-right: "\e933";
$icon-arrow-left: "\e934";
$icon-check: "\e929";
$icon-cancel: "\e92e";
$icon-internet: "\e93b";
